body {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
  }

.charts {
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
}

.weight checkboxes {
    font: small-caps 1rem sans-serif;
    text-align: left;
}

.temp_hum checkboxes {
  font: small-caps 1rem sans-serif;
  text-align: left;
}

.container {
    position: relative;
  }
  
img { 
    width: 100%;
    height: auto;
    opacity: 1;
  }

svg {
    border:1px solid gray;
    border-radius:5px;
    margin:5px;
  }

input {
    width:50;
  }

input[type=checkbox]
  
html {
    font-family: 'Trebuchet MS', sans-serif;
  }

.grid line {
    stroke:gray;
    stroke-opacity: 0.5;
    stroke-dasharray: 5,10;
  }
  
.grid path {
    stroke-width: 0;
  }

.intro {
  text-align: justify;
  text-justify: inter-word;
}

