body {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f1f1f1;
  }


.weight {
    border: 2px solid rgb(255, 230, 6);
    background-color: #f1f1f1;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}


.weight checkboxes {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

.container {
    position: relative;
  }
  
.topleft {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 30px;
  }
  
img { 
    width: 100%;
    height: auto;
    opacity: 1;
  }

  svg {
    border:1px solid gray;
    border-radius:10px;
    margin:5px;
  }
  input {
    width:50px;
  }
  html {
    font-family: 'Trebuchet MS', sans-serif;
  }
  .grid line {
    stroke:gray;
    stroke-opacity: 0.5;
    stroke-dasharray: 5,10;
  }
  
  .grid path {
    stroke-width: 0;
  }

  #wrapper {
    margin:auto;
    width:1440px;
  }
